// FOOTER

.bg-fb {
    background-color: #3b5998;
  }
  .bg-tw {
    background-color: #55acee;
  }
  .bg-inst {
    background-color: #ac2bac;
  }
  .bg-lkd {
    background-color: #0082ca;
  }

  .btn-floating{
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1.4rem;
      line-height: 2.8;
  }