
nav li {
  font-size: 1.3rem;
  color: #000;
  margin-left: 20px;
}

nav ul {
  cursor: pointer;
}

.active-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 5px
}
/*********** Main **************/

#main {
  height: 1000px
}

.image-bg {
  background-image: url(../img/bg-home.jpg);
}

.bg-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-size-h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  text-shadow:  0 0 7px #fff, 
               0 0 10px #fff, 
               0 0 42px $background-primary,   
               0 0 77px $background-primary, 
               0 0 100px $background-primary
}

.text-size-h5 {
  font-size: 1.3rem;
  color: rgb(252, 26, 26);
}

// FORM CONTAINER

.connection-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}






