main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bank2.jpg);
    background-size: cover;
  }

  .profil-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 1px solid #f1f1ff;
    border-radius: 20px;

    .profil-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
      .profil-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .profil-main-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          
          .post-main-bio {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px;
          }
          
          .profil-main-edit {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          
          .profil-main-edit textarea {
            width: 500px;
          }
          
          @media screen and (max-width: 600px) {
            .profil-main-edit textarea {
              width: 200px;
            }
          }
          
      }
      .profil-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
  }

  .rounded-img{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .form-control {
    width:auto;
  }