$background-primary: #f1dfd1;
$box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  background-color: $background-primary;
}

@mixin flex($flex, $justify, $align) {
  display: $flex;
  justify-content:$justify;
  align-items:$align;
}

@mixin flex-direction($flex, $justify, $align, $direction) {
  display: $flex;
  justify-content:$justify;
  align-items:$align;
  flex-direction: $direction;
}

@mixin image-rounded($width, $height, $radius) {
  width: $width;
  height: $height;
  border-radius: $radius;
}