
/************** Header **************/

nav {
  li{
    width: auto;
    font-size: 1.3rem;
    color: #000;
    margin-left: 20px;
    text-align: center;
  }
  ul {
    cursor: pointer;
  }
}


.active-btn {
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  padding: 5px
}

/************** Main **************/

#main-home {
  height: 1000px;
  background-image: url(../img/bg-home.jpg);

  .bg-mask {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .text-size-h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow:  0 0 7px #fff, 
                  0 0 10px #fff, 
                  0 0 42px $background-primary,   
                  0 0 77px $background-primary, 
                  0 0 100px $background-primary
  }
  
  .connection-form {
    @include flex-direction(flex,center,center,column);
    color: #000;
  }
}










