.main-post {
    background: url(../img/bank.jpg);
    background-size: cover;
}

.row {
  @include flex-direction(flex, center, center, column);
  

}

.send-post-container{
  @include flex-direction(flex, center, center, column);
   

  .send-post-header {
    @include flex(flex, space-around, center);

    .img-sendPost{
      @include image-rounded(100px,100px,50%);
    }
    @media screen and (max-width: 400px){

      .img-sendPost{
        @include image-rounded(50px,50px,50%);
      }
      
    }
  }

  .send-post-main{
    @include flex-direction(flex, center, center, column);
  }
  .send-post-footer {
    @include flex(flex, space-around, none);
    width: 100%;
    margin: 0 auto;
   .image-upload {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
    img {
      position: absolute;
      height: 50px;
      width: 50px;
      transform: translate(-18px, -1px);
    }
    input {
      width: 25px;
      height: 25px;
      position: absolute;
      transform: translate(-5px, 11px);
      opacity: 0;
      cursor: pointer;

      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
   }
  }

  @media screen and (max-width: 600px) {
    .send-post-footer {
      @include flex-direction(flex, center, center, column);

      .image-upload img {
        transform: translate(-18px, -27px);
      }
      .image-upload input {
        transform: translate(-5px, -35px);
      }

      .send-post-footer button {
        margin-top: 10px;
      }
    }
  }

}
  
  
  .post-header {
    @include flex(flex, space-around, center);
    
    .img-post {
      @include image-rounded(50px,50px,50%);
    }
    
    button {
      width:40px;
      height:40px;
      line-height: 2.8;
      color: #000;
      background-color: $background-primary;
      border-radius: 50%;
      margin-left: 1rem;
      cursor: pointer;
      i{
        font-size:1.2rem;
      }
    }
  }
  
  @media screen and (max-width: 400px) {
    .post-header {
      @include flex-direction(flex, center, center,column);
    }
 }

  
  .post-footer {
   @include flex(flex, space-between, center);
  
    p {
      margin-top:5px;
      margin-bottom: 0;
    }
    i{
      font-size:1.2rem;
      color: #000;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 600px) {
    .post-container {
     margin:10px 0px;
    }
 }
  

  





