.main-post {
    background: url(../img/bank.jpg);
    background-size: cover;
}

.row {
  @include flex-direction(flex, center, center, column);
  
  form {
    @include flex-direction(flex, center, center, column);
    
    .post-text {
      @include  flex-direction(flex, center, center,column);
    }
  }
  
  .post-header {
    @include flex(flex, space-around, center);
    
    .img-sendPost{
      @include image-rounded(80px,80px,50%);
    }

    .img-post {
      @include image-rounded(50px,50px,50%);
    }
    
    button {
      width:40px;
      height:40px;
      line-height: 2.8;
      color: #000;
      background-color: $background-primary;
      border-radius: 50%;
      margin-left: 1rem;
      cursor: pointer;
      i{
        font-size:1.2rem;
      }
    }
  }

  
  .post-footer {
   @include flex(flex, space-between, center);
  
    p {
      margin-top:5px;
      margin-bottom: 0;
    }
  }
}

  



