#main-profile {
  @include flex(flex, center, center);
  background: url(../img/bank2.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.profil-container {
  width: 100%;
  margin: 1.5rem;
  border: 1px solid #f1f1ff;
  box-shadow: $box-shadow;
  border-radius: 25px;
  
  .profil-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .rounded-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  
  .profil-main {
    @include flex-direction(flex, center, center, column);

    .profil-main-img, .profil-main-edit {
      width: 100%;
      @include flex-direction(flex, center, center, column);
    }

    .post-main-bio {
      @include flex-direction(flex, center, center, column);
      margin: 20px;
    }

    .profil-main-edit textarea {
      width: 500px;
    }

    @media screen and (max-width: 600px) {
      .profil-main-edit textarea {
        width: 200px;
      }
    }
  }
  .profil-footer {
    @include flex(flex, space-between, center)
  }
}



